@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.two-section {
  background-color: #eee;
  margin-top: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
  height: 360px;
}
form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

li {
  display: none;
}

label {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  height: 60px;
  max-width: 750px;
}

input {
  margin-top: 10px;
  background-color: #f6f6f6;
  border: 1px solid #242424;
  border-radius: 5px;
  height: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.button {
  background-color: #6e160e;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  outline: 0px;
  text-align: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px 10px;
  cursor: pointer;
  text-decoration: none;
  width: 30%;
  align-self: center;
  height: 40px;
  transition: all 0.4s ease-out;
  max-width: 300px;
  box-shadow: 2px 2px 4px #999;
}

h2 {
  margin: 0px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin: 5px;
  text-align: center;
}

.button:hover {
  background-color: #8f2f26;
  transition: all 0.4s ease-out;
  box-shadow: 4px 4px 8px #999;
  transform: translate(-1px, -1px);
}

.button:active {
  background-color: #c95c52;
  transition: all 0.4s ease-out;
}
