@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.two {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0px;
  margin-bottom: 10px;
}

.Twoitem {
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
}

.Header {
  background-color: #eee;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 600px;
  align-items: center;
  justify-content: center;
}

.HeaderPicture {
  object-fit: cover;
  height: 500px;
  margin: 0px;
}

.HeaderItem {
  padding: 0px;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 500px;
}

.HeaderH2 {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 800;
}

.HeaderP {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.Info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Blog {
  background-color: #242424;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.desc {
  margin: 2% 8%;
  padding-right: 1%;
  padding-left: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.h2dark {
  color: #eee;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 800;
}

.p2dark {
  color: #eee;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  padding-bottom: 30px;
  text-align: center;
}

.Infopic {
  padding-top: 10px;
}

.InfoIm {
  height: 100%;
  width: 600px;
  object-fit: contain;
  align-self: center;
  transition: all 0.4s ease-out;
}

.ButtonInfo {
  background-color: #eee;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #242424;
  border: none;
  border-radius: 5px;
  outline: 0px;
  text-align: center;
  justify-self: center;
  padding: 10px 15px;
  width: 200px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.4s ease-out;
  text-align: center;
  box-shadow: 4px 4px 8px #101010;
}
.H2YouTube {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 800;
}
.YouTubeSection {
  margin-top: 10px;
  padding-top: 20px;
  background-color: #eee;
}

.YouTube {
  background-color: #eee;
  margin-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
}

.Video {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  height: 480px;
}

.ButtonInfo:hover {
  background-color: #ccc;
  transition: all 0.4s ease-out;
  box-shadow: 8px 8px 16px #101010;
  transform: translate(-1px, -1px);
}

.ButtonInfo:active {
  background-color: #999;
  transition: all 0.4s ease-out;
}

.InfoIm:hover {
  transform: scale(1.05);
  transition: all 0.4s ease-out;
}

@media screen and (max-width: 1100px) {
  .two {
    flex-direction: column-reverse;
  }

  .Blog {
    height: auto;
    background-color: #242424;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }

  .desc {
    width: auto;
    margin: 2%;
    padding-right: 1%;
    padding-left: 1%;
  }

  .h2dark {
    color: #eee;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 800;
  }

  .p2dark {
    color: #eee;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 300;
    padding-bottom: 30px;
    white-space: normal;
  }

  .InfoPic {
    width: 100%;
    object-fit: cover;
    align-self: center;
    margin: 20px 0px;
    padding: 0px;
    overflow: hidden;
  }

  .InfoIm {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  .ButtonInfo {
    text-align: center;
    justify-content: center;
    align-self: center;
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
  }

  .YouTubeSection {
    margin: 0px;
    margin-top: 10px;
    padding-top: 20px;
    background-color: #eee;
  }
  .YouTube {
    margin: 0px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
  }
  .Video {
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 300px;
  }
  .Header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
    align-items: center;
    height: 600px;
    overflow: hidden;
  }

  .HeaderPicture {
    width: 100%;
    margin: 0px;
    z-index: 1;
    opacity: 1;
    margin-top: 120px;
  }

  .HeaderItem {
    height: 600px;
    object-fit: contain;
    width: 90%;
    max-width: 500px;
  }

  .HeaderH2 {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 400;
    margin-top: -570px;
    z-index: 20;
    color: #242424;
  }

  .HeaderP {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    z-index: 20;
    color: #242424;
  }
}
